<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel = "stylesheet" href="styles/reset.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

  <title>iniGEN Your World</title>
</head>

<!-- Custom font from google fonts -->
<link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">

<!-- Animate.css cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />

<!-- Vegas script below enables the background image slide show  -->
<script type="text/javascript" src="../vegas/jquery.vegas.js"></script>
            <link rel="stylesheet" type="text/css" href="../vegas/jquery.vegas.css" />

  <script src="../js/index.js"></script>


            
<link rel = "stylesheet" href="styles/styles.css">

<body>
  {{{body}}}
  <script>
  $.vegas('slideshow', {
      delay:10000,
      backgrounds:[
        { src:'images/ARK.jpg', fade:1000 },
        { src:'images/Bioshock.jpg', fade:1000 },
        { src:'images/Fortnite.jpg', fade:1000 },
        { src:'images/MassEffect.jpg', fade:1000 },
        { src:'images/Rocket.jpg', fade:1000 }
      ]
  })('overlay');
</script>
</body>


</html>
