
<div class='container'>
    <div class = 'jumbotron shadow-lg'>
        <h1 class = "text-danger">iniGEN</h1>
        <p class="lead">
            Welcome to the iniGEN homepage!  <br>
            Upload the ini file of your choice using the buttons below.  <br>
            Happy Gaming!
        </p>  
        <br>
        <form id="ini-form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="btn btn-primary animated flipInY" type="file">
                </div>
            </div>
            <button type="submit" class = "btn btn-primary animated delay-1s flipInX">
                Submit
            </button>
        </form>
    </div>    
</div>



