<div id="home">
  <div class="container">
    <div class="row">
      <div id="main-list" class="col-12">
        
        <h2>Ark INI list</h2>
       
          {{#each data}}
          
            <div data-id="{{this.id}}" class="ini-select rounded bg-success p-3 m-2">{{this.name}}</div>

          {{/each}}
        
      </div>
    </div>
  </div>
</div>


