<div id="home">
  <div class="container">
    <div class="row">
        <h2>Please make changes to your INI file below.</h2>
      
        <div class="col-12">
            <div>
                <form>
                    {{#each data}}
                    
                        <div class="rounded bg-primary m-2 flipInY delay-1s">
                        <h3>{{@key}} {{this}}</h3>
                        {{#wut this}}{{/wut}} <!-- HELPER FUNCTION, REFER TO SERVER.JS TO INSPECT / EDIT FUNCTIONALITY -->
                        </div>
                
                    {{/each}}
                </form>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>