<div class='container'>
                <div class = 'jumbotron shadow-lg' id = 'settingcontent'>
                    <h1 class = "text-danger">iniGEN</h1>
            <div>
           <form>
              {{#each data}}
            
                <div class="rounded bg-primary m-2">
                  <h3>{{@key}} {{this}}</h3>
                {{#wut this}}{{/wut}} <!-- HELPER FUNCTION, REFER TO SERVER.JS TO INSPECT / EDIT FUNCTIONALITY -->
                </div>
        
              {{/each}}
            </form>
          </div>
                </div>    
            </div>